<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servletsCRUD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addemp</display-name>
    <servlet-name>addemp</servlet-name>
    <servlet-class>addemp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addemp</servlet-name>
    <url-pattern>/addemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>display</display-name>
    <servlet-name>display</servlet-name>
    <servlet-class>display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>display</servlet-name>
    <url-pattern>/display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update1</display-name>
    <servlet-name>update1</servlet-name>
    <servlet-class>update1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update1</servlet-name>
    <url-pattern>/update1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update2</display-name>
    <servlet-name>update2</servlet-name>
    <servlet-class>update2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update2</servlet-name>
    <url-pattern>/update2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>